<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.himorfosis.kasirmegono">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <application
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:name=".Volley"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Kasir"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <activity
            android:name=".SplashScreen"
            android:label="Kasir"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin.Admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin.PenggunaTambah"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Admin.PelangganTambah"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Admin.SupplierTambah"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Admin.PenggunaDetail"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Admin.PelangganDetail"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Admin.SupplierDetail"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Produk.ProdukTambah"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Produk.ProdukDetail"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Kasir.Kasir"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Pemesanan.Pembayaran"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Pemesanan.Periksa"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Pemesanan.KembalianBayaran"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Penjualan.PenjualanDetail"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Pemesanan.TambahPemesanan"
            android:theme="@style/AppTheme" />
    </application>

</manifest>